@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* VARIABLES */
:root{
    --bold: 700;
    --semiBold: 600;
    --medium: 500;
    --regular: 400;
    --light: 400;

    --negro: #000000;
    --negroClaro: #191919;
    --blanco: #ffffff;
    --gris: #e1e1e1;
    --grisOpacidad: rgba(225, 225, 225, .7);

    --verde: #009245;
    --verdeClaro: #8cc63f;
    --verdeOscuro: #004700;

    --instagram: #ff036d;
    --facebook: #3b5998;

    scroll-behavior: smooth;
}

/* TODOS LOS ELEMNTOS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* INPUTS */
/* Saca las lineas cuando clickeamos los inputs, selcts y textarea */
input:active, input:focus{
    outline: none;
}

select:active, select:focus{
    outline: none;
}

textarea:active, textarea:focus{
    outline: none;
}

/* Saca controles de los input de tipo número */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

textarea{
    resize: none;
}

/* PANTALLA DE CARGA */
.contenedor-carga{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: var(--gris);
}

.imagen-carga{
    width: 150px;
    animation: rotate-animation 4s infinite ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes rotate-animation {
	0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
	100% { transform: rotate(360deg); }
}

/* OCULTAR ELEMENTOS */
.ocultar{
    display: none; 
}

/* MOSTRAR ELEMENTOS */
.mostrar{
    display: block;
}

/* BOTON PAGINA ANTERIOR */
.pagina-anterior{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--negro);
    margin: 10px;
    padding: 5px;
    font-size: 18px;
    background-color: var(--grisOpacidad);
    border-radius: 100%;
    cursor: pointer;
    transition: .2s transform ease-in-out;
}

.pagina-anterior:hover{
    transform: scale(1.2);
}

/* BOTON PAGINA INICIO */
.pagina-inicio{
    position: fixed;
    bottom: 0;
    right: 0;
    color: var(--negro);
    margin: 10px;
    padding: 5px;
    font-size: 18px;
    background-color: var(--grisOpacidad);
    border-radius: 100%;
    cursor: pointer;
    transition: .2s transform ease-in-out;
}

.pagina-inicio:hover{
    transform: scale(1.2);
}

/* BOTON */
.boton{
    padding: 15px;
    text-decoration: none;
    color: var(--blanco);
    background-color: var(--verde);
    border-radius: 30px;
    border: 2px solid transparent;
    transition: .2s color ease-in-out;
    transition: .2s background-color ease-in-out;
    cursor: pointer;
}

.boton:hover{
    background-color: transparent;
    border: 2px solid var(--verde);
    color: var(--negro);
}

/* TOOLTIP
.tooltip{
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
}

.tooltip:after{
    opacity: 0%;
    position: absolute;
    padding: 7px;
    border-radius: 5px;
    color: var(--verdeClaro);
    background-color: var(--verdeOscuro);
    transition: .3s opacity ease-in-out;
    z-index: 100;
}

.tooltip:hover.tooltip:after{
    opacity: 100%;
} */

/* ERROR LOGIN */
.error-login{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 600px;
    height: 450px;
    border: 1px solid var(--gris);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
    border-radius: 15px;
    z-index: 100;
}

.error-login__texto{
    color: var(--negro);
}

.error-login__cerrar{
    color: var(--negro);
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.6);
}

/* CARRITO */
body{
    position: relative;
}

.ocultar-carrito{
    transform: translateX(600px);
}

.mostrar-carrito{
    transform: translateX(0px);
}

.carrito{
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background-color: var(--blanco);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    transition: transform .3s ease-in-out;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.cerrar-carrito{
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    font-size: 18px;
    cursor: pointer;
}

.cerrar-carrito:hover{
    color: var(--verde);
}

.titulo-carrito{
    text-align: center;
    margin-top: 20px;
    font-weight: var(--bold);
}

.subtitulo-carrito{
    text-align: center;
    margin: 5px 0;
    font-weight: var(--bold);
    color: var(--negroClaro);
}

.carrito-vacio{
    margin-top: 10px;
    text-align: center;
}

.productos-carrito{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    overflow: scroll;
}

.productos-carrito thead{
    color: var(--verde);
}

.boton-producto{
    cursor: pointer;
    margin: 0 5px;
}

.boton-producto:hover{
    color: var(--verde);
}

.info-carrito{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.botones-carrito{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0;
    font-size: 14px;
}

.mis-pedidos{
    color: var(--verde);
    font-weight: var(--semiBold);
    transition: color .2s ease-in-out;
}

.mis-pedidos:hover{
    color: var(--verdeClaro);
}

.siguiente-estado{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}