/* MAIN */
.contenedor{
    margin: 0 auto;
    width: 80%;
}

.titulo-seccion{
    text-align: center;
    padding: 15px 0;
}

/* NUESTROS PRODUCTOS */
.nuestros-productos{
    width: 100%;
    height: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    overflow: hidden;
    margin-top: 15px;
}

.producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blanco);
    width: 250px;
    height: 250px;
    border-radius: 15px;
    transition: background-color 0.2s ease-in-out;
}

.producto img{
    width: 200px;
    height: 200px;
    /* border-bottom: 2px solid var(--gris); */
}

.producto-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.producto-info .nombre{
    color: var(--negro);
    font-weight: var(--medium);
    font-size: 25px;
}

.producto-info .precio{
    color: var(--verde);
    font-weight: var(--bold);
    font-size: 18px;
}

/* TIENDA */

.tienda{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border: 2px dashed var(--verdeClaro);
}

.tienda a{
    margin-bottom: 15px;
}

/* INSTITUCIONAL */

.institucional{
    width: 100%;
    padding: 0 85px;
}

.institucional h3{
    color: var(--verde);
}

.institucional-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 15px;
}

.institucional-info h3{
    text-align: center;
}

.mision, .vision, .valores p{
    text-align: justify;
}

.valores h3{
    text-align: center;
    padding: 15px 0;
}

@media (max-width: 950px) {
    .nuestros-productos{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 620px) {
    .nuestros-productos{
        grid-template-columns: repeat(1, 1fr);
    }
}