/* MAIN */
.contenedor{
    margin: 0 auto;
    width: 80%;
}

.saludo-usuario{
    font-weight: 500;
    margin-top: 10px;
}

.saludo-usuario span{
    font-weight: 600;
}

.titulo-seccion{
    text-align: center;
    padding: 15px 0;
}

/* CONTENEDOR TIENDA */
.contenedor-tienda{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 15px;
}

.producto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.producto-imagen img{
    width: 200px;
    height: 200px;
}

.producto-info{
    text-align: center;
}

.producto-info *{
    margin: 5px 0;
}

.producto-titulo{
    color: var(--negro);
    font-weight: var(--medium);
    font-size: 25px;
}

.producto-variedades{
    color: var(--negro);
    font-weight: var(--regular);
    font-size: 15px;
}

.producto-precio{
    color: var(--verde);
    font-weight: var(--bold);
    font-size: 18px;
}

.producto-boton{
    display: inline-block;
    width: 150px;
}

.bg-modal{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
}

.modal-variedades{
    display: none;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15%;
    /* left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;  */
    width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 5px;
}

.modal-variedades .header{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-weight: 600;
}

.modal-variedades .header i{
    cursor: pointer;
}

.modal-variedades .body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mostrar{
    display: block;
}

.infoProducto{
    display: flex;
    gap: 8px;
}

.botonProducto{
    display: flex;
    gap: 5px;
    padding: 5px;
    border: 1px solid #e1e1e1;
    background: none;
    margin: 5px 0;
    cursor: pointer;
    transition: border .2s ease-in-out;
    border-radius: 3px;
    color: #000;
    text-decoration: none;
}

.botonProducto:hover{
    border: 1px solid #9e9e9e;
    background-color: var(--verde);
    color: #fff;
}

.nombreProducto, .precioProducto{
    padding: 5px;
}

@media (max-width: 950px) {
    .contenedor-tienda{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 620px) {
    .contenedor-tienda{
        grid-template-columns: repeat(1, 1fr);
    }
}