/* MAIN */
.contenedor{
    margin: 0 auto;
    width: 80%;
}

.titulo-seccion{
    text-align: center;
    padding: 15px 0;
}

/* CONTENEDOR TIENDA */
.contenedor-tienda{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 15px;
}

.producto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.producto-imagen img{
    width: 200px;
    height: 200px;
}

.producto-info{
    text-align: center;
}

.producto-info *{
    margin: 5px 0;
}

.producto-titulo{
    color: var(--negro);
    font-weight: var(--medium);
    font-size: 25px;
}

.producto-variedades{
    color: var(--negro);
    font-weight: var(--regular);
    font-size: 15px;
}

.producto-precio{
    color: var(--verde);
    font-weight: var(--bold);
    font-size: 18px;
}

.producto-boton{
    display: inline-block;
    width: 150px;
}

/* CARRITO */
body{
    position: relative;
}

.ocultar-carrito{
    transform: translateX(600px);
}

.mostrar-carrito{
    transform: translateX(0px);
}

.carrito{
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background-color: var(--blanco);
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    transition: transform .3s ease-in-out;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.cerrar-carrito{
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    font-size: 18px;
    cursor: pointer;
}

.cerrar-carrito:hover{
    color: var(--verde);
}

.titulo-carrito{
    text-align: center;
    margin-top: 20px;
    font-weight: var(--bold);
}

.subtitulo-carrito{
    text-align: center;
    margin: 5px 0;
    font-weight: var(--bold);
    color: var(--negroClaro);
}

.carrito-vacio{
    margin-top: 10px;
    text-align: center;
}

.productos-carrito{
    width: 100%;
    margin-top: 10px;
    text-align: center;
    overflow: scroll;
}

.productos-carrito thead{
    color: var(--verde);
}

.boton-producto{
    cursor: pointer;
    margin: 0 5px;
}

.boton-producto:hover{
    color: var(--verde);
}

.info-carrito{
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.botones-carrito{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0;
    font-size: 14px;
}